body{
    color:black;
    font-size:arial;
}
 h1{
  font-weight:bold;
  
  background:rgb(6, 107, 102);
 }
 h2{
     background-color: rgb(198, 233, 243);
 }
 h3{
     background-color: rgb(133, 129, 112);
     background-color: rgb(9, 142, 160);
     background-color: rgb(32, 32, 32);
     
 }
 
 
